<!-- User Management Layout -->
<c-row>
  <c-col sm="5">
    <h4 class="card-title mb-0" id="traffic">Users</h4>
  </c-col>
  <c-col  class="d-block">
    <button cButton variant="outline" cOffcanvasToggle="OffcanvasStart" class="float-end">
      Add User 
    </button>
  </c-col>
</c-row>

<c-card class="my-2">
  <table cTable borderless hover class="mb-0">
    <thead>
      <tr>
        <th class="bg-body-tertiary">Name</th>
        <th class="bg-body-tertiary">Email</th>
        <th class="bg-body-tertiary">Employee ID</th>
        <th class="bg-body-tertiary">Directorate ID</th>
        <th class="bg-body-tertiary">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.sName }}</td>
        <td>{{ user.sEmail }}</td>
        <td>{{ user.lEmployeeID }}</td>
        <td>{{ user.lDirectorateID }}</td>
        <td class="d-flex gap-2">
          <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost" (click)="onEditUser(user)">
            <svg cIcon name="cil-pencil"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</c-card>

<c-offcanvas style="width: 60%;" placement="end" id="OffcanvasStart">
  <c-offcanvas-header class="justify-content-between">
    <h5 class="mb-0">{{ isEdit ? 'Update ' : 'Add ' }} User</h5>
    <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost">
      <svg cIcon name="cil-arrow-right"></svg>
    </button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" cForm class="row g-3">
      <c-col md="6">
        <label cLabel for="roleName" class="required">Name</label>
        <input cFormControl id="roleName" type="text"  class="form-control"
        [appValidationStyle]="userForm.get('sName')" formControlName="sName" placeholder="Enter username" required/>
      </c-col>
      <c-col md="6">
        <label cLabel for="roleName" class="required">Email</label>
        <input cFormControl type="text" formControlName="sEmail" class="form-control"
        [appValidationStyle]="userForm.get('sEmail')"
        id="sEmail"  placeholder="Enter Email." required
        />
      </c-col>
      <c-col md="6" >
        <label cLabel for="PageName" class="required">Select Role</label>
        <select class="form-select" id="moduleSelect" formControlName="roles"  [appValidationStyle]="userForm.get('roles')">
          <option value="" disabled>Select Role</option>
          <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
        </select>              
      </c-col>
      <c-col md="6">
        <label cLabel for="roleName" class="required">Employee ID </label>
        <input cFormControl id="roleName" type="text" formControlName="lEmployeeID" class="form-control" 
        [appValidationStyle]="userForm.get('lEmployeeID')"/>
      </c-col>
      <c-col md="6">
        <label cLabel for="roleName" class="required">Directerate ID</label>
        <select class="form-select" formControlName="lDirectorateID" aria-label="Default select example"[appValidationStyle]="userForm.get('lDirectorateID')">
          <option selected>Select Directerate Id </option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </c-col>
      <c-col md="12">

        <div class=" form-check" >
          
          <input type="checkbox"  formControlName="bActive"  [appValidationStyle]="userForm.get('bActive')"  class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1" class="required">Active</label>
        </div>
      </c-col>
      <c-col>
        <!-- <button cButton type="submit" class="col-12">{{ isEdit ? 'Update' : 'Create' }} Users</button> -->
        <button type="submit" [disabled]="isLoading" cButton class="col-12">
          <ng-container *ngIf="!isLoading; else loading">
            {{ isEdit ? 'Update' : 'Create' }} Users
          </ng-container>
          <ng-template #loading>
            <c-spinner size="sm" color="light"></c-spinner>
          </ng-template>
        </button>
      </c-col>
    </form>
  </c-offcanvas-body>
</c-offcanvas>
