<!-- Role Management Layout -->
<c-row>
  <c-col sm="5">
    <h4 class="card-title mb-0" id="traffic">Roles</h4>
  </c-col>
  <c-col sm="7" class="d-block">
    <button cButton variant="outline" cOffcanvasToggle="OffcanvasStart" class="float-end">
      Add Role
    </button>
  </c-col>
</c-row>

<c-card class="my-2">
  <table cTable borderless hover class="mb-0">
    <thead>
      <tr>
        <th class="bg-body-tertiary">Name</th>
        <th class="bg-body-tertiary">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.name }}</td>
        <td class="d-flex gap-2">
          <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost" (click)="onEditRole(role)">
            <svg cIcon name="cil-pencil"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</c-card>

<c-offcanvas style="width: 40%;" placement="end" id="OffcanvasStart">
  <c-offcanvas-header class="justify-content-between">
    <h5 class="mb-0">{{ isEdit ? 'Update ' : 'Add ' }} Role</h5>
    <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost">
      <svg cIcon name="cil-arrow-right"></svg>
    </button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()" cForm class="row g-3">
      <c-col md="12">
        <label cLabel for="roleName" class="required">Name</label>
        <input cFormControl id="roleName" type="text" formControlName="name" class="form-control"
        [appValidationStyle]="roleForm.get('name')"/>
      </c-col>
      <c-col>
        <button type="submit" [disabled]="isLoading" cButton class="col-12">
          <ng-container *ngIf="!isLoading; else loading">
            {{ isEdit ? 'Update' : 'Create' }} Role
          </ng-container>
          <ng-template #loading>
            <c-spinner size="sm" color="light"></c-spinner>
          </ng-template>
        </button>
      </c-col>
    </form>
  </c-offcanvas-body>
</c-offcanvas>
