<!-- Page Management Layout -->
<c-row>
  <c-col sm="5">
    <h4 class="card-title mb-0" id="traffic">Pages</h4>
  </c-col>
  <c-col sm="7" class="d-block">
    <button cButton variant="outline" cOffcanvasToggle="OffcanvasStart" class="float-end">
       Add Page/Module
    </button>
  </c-col>
</c-row>

<c-card class="my-2">
  <table cTable borderless hover class="mb-0">
    <thead>
      <tr>
        <th class="bg-body-tertiary">Name</th>
        <th class="bg-body-tertiary">Discription</th>
        <th class="bg-body-tertiary">Page URL</th>
        <th class="bg-body-tertiary">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let page of pages">
        <td>{{ page.title }}</td>
        <td>{{ page.description }}</td>
        <td>{{ page.pageUrl }}</td>
        <td class="d-flex gap-2">
          <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost" (click)="onEditPage(page)">
            <svg cIcon name="cil-pencil"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</c-card>

<c-offcanvas style="width: 70%;" placement="end" id="OffcanvasStart">
  <c-offcanvas-header class="justify-content-between">
    <h5 class="mb-0">{{ isEdit ? 'Update Page/Module' : 'Add Page/Module' }}</h5>
    <!-- <button cButtonClose cOffcanvasToggle="OffcanvasStart" aria-label="Close" color="primary" variant="ghost">
      <svg cIcon name="cil-pencil"></svg>
    </button> -->
    <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost">
      <svg cIcon name="cil-arrow-right"></svg>
    </button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form [formGroup]="pageForm" (ngSubmit)="onSubmit()" cForm class="row g-3">
      <c-col md="6">
        <label cLabel for="PageName">Page/Module Name</label>
        <input cFormControl id="PageName" type="text" formControlName="title" class="form-control" />
      </c-col>
      <c-col md="6">
        <label cLabel for="PageName">Page URL</label>
        <input cFormControl id="PageName" type="text" formControlName="pageUrl" class="form-control" />
      </c-col>
      <c-col md="12">
        <label cLabel for="PageName">Description</label>
        <input cFormControl id="PageName" type="text" formControlName="description" class="form-control" />
      </c-col>
      <c-col md="6">
        <label cLabel for="PageName">Page Preference</label>
        <input cFormControl id="PageName" type="text" formControlName="preferenceOrder" class="form-control" />
      </c-col>
      <c-col md="6">
        <label cLabel for="PageName">Select Module</label>
        <select class="form-select" formControlName="parentPageId" id="moduleSelect">
          <option value="" disabled>Select Module</option>
          <option *ngFor="let module of modules" [value]="module.id">{{ module.title }}</option>
        </select>
      </c-col>
      <c-col>
        <button cButton type="submit" class="col-12">{{ isEdit ? 'Update' : 'Create' }} Page/Module</button>
      </c-col>
    </form>
  </c-offcanvas-body>
</c-offcanvas>