<c-row>
  <c-col sm="5">
    <h4 class="card-title mb-0" id="traffic">Publish Jobs</h4>
  </c-col>
  <c-col class="d-block">
  </c-col>
</c-row>

<c-card class="my-2">
  <table cTable borderless hover class="mb-0">
    <thead>
      <tr>
        <th class="bg-body-tertiary">JOb Title</th>
        <th class="bg-body-tertiary">Description</th>
        <th class="bg-body-tertiary">Location</th>
        <th class="bg-body-tertiary">Salary Range</th>
        <th class="bg-body-tertiary">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of pendingJobs">
        <td>{{ job.sJobTitle }}</td>
        <td style="max-width: 150px;"><span [innerHTML]="job.sJobDescription"></span></td>
        <td>{{ job.sJobLocation }}</td>
        <td>{{ job.sSalaryText }}</td>
        <td>
          <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost" (click)="onEditJob(job)">
            <svg cIcon name="cil-menu"></svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</c-card>

<c-offcanvas style="width: 75%;" placement="end" id="OffcanvasStart">
  <c-offcanvas-header class="justify-content-between">
    <h5 class="mb-0">Job Details</h5>
    <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost">
      <svg cIcon name="cil-arrow-right"></svg>
    </button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <table class="table ">
      <tbody>
        <tr>
          <th>Title:</th>
          <td>{{ selectedJob.sJobTitle }}</td>
        </tr>
        <tr>
          <th>Location:</th>
          <td>{{ selectedJob.sJobLocation }}</td>
        </tr>
        <tr>
          <th>Minimum Qualification ID:</th>
          <td>{{ selectedJob.lMinimumQualificationId }}</td>
        </tr>
        <tr>
          <th>Job Type:</th>
          <td>{{ selectedJob.sJobType }}</td>
        </tr>
        <tr>
          <th>Experience:</th>
          <td>{{ selectedJob.sExperience }}</td>
        </tr>
        <tr>
          <th>Job Description:</th>
          <td>{{ selectedJob.sJobDescription }}</td>
        </tr>
        <tr>
          <th>Skills Required:</th>
          <td>{{ selectedJob.sSkillsRequired }}</td>
        </tr>
        <tr>
          <th>Terms:</th>
          <td [innerHTML]="selectedJob.terms"></td>
        </tr>
        <tr>
          <th>Qualification:</th>
          <td>{{ selectedJob.sQualification }}</td>
        </tr>
      </tbody>
    </table>
  </c-offcanvas-body>
</c-offcanvas>

