<!-- Role Management Layout -->
<c-row>
    <c-col sm="5">
      <h4 class="card-title mb-0" id="traffic">RolePages</h4>
    </c-col>
  </c-row>
  
  <c-card class="my-2">
    <table cTable borderless hover class="mb-0">
      <thead>
        <tr>
          <th class="bg-body-tertiary">Pages</th>
          <th class="bg-body-tertiary">Permission</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="d-flex gap-2">
            <button cOffcanvasToggle="OffcanvasStart" cButton color="primary" variant="ghost">
              <svg cIcon name="cil-pencil"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card>
  